@use './variables/variables.fonts' as font;
@use './variables/variables.colors' as *;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: font.family();
    font-size: font.size(p);
    font-weight: font.weight(regular);
    background-color: color(white);
    color: color(black);
}

.is-loading {
    overflow: hidden;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: color(white);
    }

    &::after {
        content: "";
        position: absolute;
        border: 3px solid color(purple, transparent);
        border-left-color: color(purple);
        border-radius: 50%;
        left: calc(50% - 25px);
        right: unset;
        top: calc(50% - 25px);
        min-width: 50px;
        min-height: 50px;
        z-index: 101;
        animation: spin 1.5s linear infinite;
        opacity: 1;
        pointer-events: none;
        transition: opacity 0.1s;
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn); 
    }
}

.container {
    padding: 4.2rem 4.8rem;
}

img {
    display: block;
}

#root {
    min-height: 100vh;
}

ul {
    list-style: none;
}

hr {
    border: none;
    height: 1px;
    background-color: color(grey, secondary);
}