@use './variables/variables.fonts' as font;
@use './variables/variables.colors' as *;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: font.family();
    font-size: font.size(p);
    font-weight: font.weight(regular);
    background-color: color(white);
    color: color(black);
}

.container {
    padding: 4.2rem 4.8rem;
}

img {
    display: block;
}

#root {
    min-height: 100vh;
}

ul {
    list-style: none;
}

hr {
    border: none;
    height: 1px;
    background-color: color(grey, secondary);
}