$color: (
    white: (
        primary: #FFFFFF,
        secondary: #F5F5F5,
    ),
    black: (
        primary: #0D062D,
        secondary: #787486,
    ),
    grey: (
        primary: #625F6D,
        secondary: #E0E0E0,
    ),
    purple: (
        primary: #5030E5,
        transparent: #5030E533
    ),
    red: (
        primary: #D8727D,
        transparent: #D8727D1A
    ),
    orange: (
        primary: #D58D49,
        transparent: #DFA87433
    ),
    green: (
        primary: #68B266,
        transparent: #83C29D33
    ),
);

@function color($base, $shade: primary) {
    $color: map-get(map-get($color, $base), $shade);
    @return $color;
} ;