@use '../../styles/core/variables/variables.fonts' as font;
@use '../../styles/core/variables/variables.colors' as *;

.header {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kanbanCard {
    padding: 2rem;
    flex-basis: 25%;
    max-width: 35rem;
    min-width: 20rem;
    border: 1px solid color(grey, secondary);
    border-radius: 1.6rem;
    text-decoration: none;
    color: color(black);
    transition: 0.3s color, 0.3s border-color, 0.3s background-color;

    &:hover,
    &:focus,
    &:active {
        border-color: color(purple);
        background-color: rgba(color(purple), 4%);
        color: color(purple);

    }
}

.kanbanCard__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
}