@use '../../styles/core/variables/variables.colors' as *;

.kanbanColumn {
    border-radius: 1.6rem;
    background-color: color(white, secondary);

    > hr {
        height: 3px;
    }

    &:hover {
        .kanbanTask__add {
            pointer-events: all;
            opacity: 1;
        }
    }
}

.kanbanColumn__header {
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
}

.kanbanTask__add {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.kanbanColumn__content {
    position: relative;
    padding: 2rem;
    max-height: calc(100vh - 38rem);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    scrollbar-width: none;

    &.is-loading {
        min-height: 15rem;

        &::before {
            background-color: transparent;
        }

        &::after {
            min-width: 40px;
            min-height: 40px;
            left: calc(50% - 20px);
            top: calc(50% - 20px);
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}