@use '../../styles/core/variables/variables.colors' as *;

.kanbanTask {
    padding: 2rem;
    border-radius: 1.6rem;
    background-color: color(white);
    transition: 0.3s opacity;

    &:hover,
    &:active,
    &:focus {
        opacity: 0.7;
        cursor: pointer;
    }
}