@use '../core/variables/variables.colors' as *;
@use '../core/variables/variables.fonts' as font;

.text--muted {
    color: color(black, secondary);
}

.text--dark {
    color: color(black);
}

.text--right {
    text-align: end;
}