@use '../../styles/core/variables/variables.colors' as *;

.modal {
    position: relative;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 30%);

}

.modal__box {
    position: absolute;
    top: 24rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1.6rem;
    background-color: color(white);

    header {
        padding: 1.2rem 1.6rem;
        border-bottom: 1px solid color(grey, secondary);
    }

    main {
        padding: 1.2rem 1.6rem;

    }
}